@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  background-image: url("/IMG/625497.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins';
  color: rgb(215, 213, 213);
}

.formRegister {
  background-color: #000000b3;
}

.form-outline input.form-control {
  padding-top: 1.5rem; /* Ajustar según sea necesario */
}